@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat-Hairline.otf') format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat-UltraLight.otf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat-SemiBold.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat-Bold.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat-ExtraBold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat-Black.otf');
    font-weight: 800;
}

a { text-decoration: none; color:gray; }
a:visited { text-decoration: "#545454"; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

a#fade {
    color: black;
  border-bottom: 1px solid rgba(192, 192, 192, 0);
  
  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease; 
}

a#fade:hover {
  border-bottom: 1px solid rgba(144, 22, 17, 1);
}

a#fade-header {
  border-bottom: 1px solid rgba(192, 192, 192, 0);
    color: black;
  
  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease; 
}

a#fade-header:hover {
  border-bottom: 1px solid rgba(144, 22, 17, 1);
}

.global {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header{
    margin-bottom: 30px;
    height: 60px;
}

.nameplate {
    float: left;
    cursor: pointer;
}

.nameicon {
    width: 40px;
    height: 40px;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

.namecontainer {
    margin-left: 10px;
    float: left;
}

.nametop {
    height: 20px;
    font-family: montserrat;
    font-weight: 600;
}

.namebottom {
    height: 20px;
    font-family: montserrat;
    font-weight: 300;
    color: darkgray
}

.linkbar {
    float: right;
    width: 55%;
    font-family: montserrat;
    font-weight: 400;
    color: black;
    line-height: 25px;
}

.link {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    word-wrap: break-word;
}

.body {
    margin-left: 25%;
    margin-right: 25%;
}

.title {
    font-family: montserrat;
    font-weight: 700;
    font-size: 26;
    margin-bottom: 20px;
}

.content {
    font-family: montserrat;
    font-weight: 300;
    font-size: 1em;
    line-height: 25px;
    margin-bottom: 15px;
}

.project{
    margin-bottom: 30px;
    font-family: montserrat;
}

.projectheader {
    font-weight: 400;
    font-size: 18;
    margin-bottom: 15px;
}

.projectlink {
    font-weight: 400;
    font-size: 16;
    margin-bottom: 5px;
    magrin-left: 10px;
}

.projectcontent {
    margin-top: 20px;
    margin-left: 20px;
    line-height: 30px;
    font-weight: 300;
    font-size: 16;
}

.textbox {
    font-family: montserrat;
    background-color: #F1F1F1;
}

.selectcourse {
    font-family: montserrat;
    text-align: center;
    margin-bottom: 10px;
}

.selectmonth {
    font-family: montserrat;
    text-align: center;
    margin-bottom: 10px;
}

.table {
    font-family: montserrat;
    font-weight: 300 !important;
    font-size: 13 !important;
}

table {
    font-family: montserrat;
    font-weight: 300 !important;
    font-size: 13 !important;
}

td{
    padding:0 15px 5px 15px;
}

.blogheader {
    font-family: montserrat;
    font-weight: 500;
    font-size: 20;
    margin-bottom: 5px;
}

.blogdate {
    font-family: montserrat;
    font-weight: 400;
    color: gray;
    margin-bottom: 20px;
}

.latesthint {
    font-family: montserrat;
    font-weight: 300;
}

.pageLink{
    margin-left: 10px;
    margin-right: 10px;
}

.blogcontent {
    font-family: montserrat;
    font-weight: 300;
    font-size: 1em;
    line-height: 25px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.navibuttons{
    font-family: Montserrat;
    font-weight: 400;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 20px;
    line-height: 150%
}

.tutorialimage{
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
    border-radius: 15px;
    border-style: solid;
    border-width: 7px;
    border-color: black;
}